@using BunaPortal;
@using DALEFModel;

@model DALEFModel.Asset
<script src = "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" ></script>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="content">
				<div class="box-header">
					<button type = "button" name="btnclose" id="btnclose" class="close" data-dismiss="modal">x</button>
					<h4 class="modal-title">@Html.Label(@Html.Encode(Localizer.Current.GetString("Asset")), new { @class = "col-md-2 control-label" })</h4>
				</div>

				<div id = "result" ></div>
				@using(Ajax.BeginForm("EditAsset", "Asset", new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "result"
                }))
                {
                    try {
                        User user = new User();
                        if (Session["User"] != null)
                        {
                            user = (User)Session["User"];
                        }
							@* @Html.AntiForgeryToken()*@
							@Html.ValidationSummary(true)

								
									
										<div class="col-md-12"> 
												<div class="row">
													<div class="box-default">
                                                        
                                                            @*<h3 class="box-title">@Html.Encode(Localizer.Current.GetString("GroupBoxAsset Details"))</h3>*@

                                                            <div class="box-body">
                                                                @*@if (user.StpDepartmentID == 96)//Manager 
                                                                {*@
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.CustomLabelFor(o => o.Name)
                                                                            @Html.CustomTextBoxFor(o => o.Name)
                                                                            @Html.CustomValidationMessageFor(o => o.Name)
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label>Farm Owner</label>
                                                                            @Html.CustomDropDownListFor(o => o.PersonID)
                                                                            @Html.CustomValidationMessageFor(o => o.PersonID)
                                                                        </div>
                                                                    </div>
                                                                @*}
                                                                @if (user.StpDepartmentID == 97)//Farmer
                                                                {
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            @Html.CustomLabelFor(o => o.Name)
                                                                            @Html.CustomTextBoxFor(o => o.Name)
                                                                            @Html.CustomValidationMessageFor(o => o.Name)
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label>Farm Owner : User = @user.UserName</label>
                                                                            
                                                                            @Html.CustomDropDownListFor(o => o.PersonID)
                                                                            @Html.CustomValidationMessageFor(o => o.PersonID)
                                                                        </div>
                                                                    </div>
                                                                }*@
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        @Html.CustomLabelFor(o => o.StpAssetCategoryID)
                                                                        @Html.CustomDropDownListFor(st => st.StpAssetCategoryID)
                                                                        @Html.CustomValidationMessageFor(o => o.StpAssetCategoryID)
                                                                    </div>
                                                                </div>
                                                                <div id="areaFarmQuantity" style="display:none">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label id="lblQty"></label>
                                                                            @Html.CustomTextBoxFor(o => o.Description)
                                                                            @Html.CustomValidationMessageFor(o => o.Description)
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label id="lblVol"></label>
                                                                            @Html.CustomTextBoxFor(o => o.Size)
                                                                            @Html.CustomValidationMessageFor(o => o.Size)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        @Html.CustomLabelFor(o => o.Longitude)
                                                                        @Html.CustomTextBoxFor(o => o.Longitude)
                                                                        @Html.CustomValidationMessageFor(o => o.Longitude)
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        @Html.CustomLabelFor(o => o.Latitude)
                                                                        @Html.CustomTextBoxFor(o => o.Latitude)
                                                                        @Html.CustomValidationMessageFor(o => o.Latitude)
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        @Html.CustomLabelFor(o => o.IsActive)
                                                                        @Html.CustomCheckBoxFor(o => o.IsActive)
                                                                    </div>
                                                                </div>

                                                                @Html.HiddenFor(o => o.CreatedByID)
                                                                @Html.HiddenFor(o => o.ChangedByID)
                                                                @Html.HiddenFor(o => o.ChangeDateTime)
                                                                @Html.HiddenFor(o => o.PersonID)
                                                                @Html.HiddenFor(o => o.Barcode)
                                                                @Html.HiddenFor(o => o.OrgID)
                                                                @Html.HiddenFor(o => o.StcStatusID)
                                                                @Html.HiddenFor(o => o.VersionNo)
                                                                @Html.HiddenFor(o => o.AssetID)

                                                           



                                                                <div id='myMap' style='height: 400px;' class="col-md-12"></div>
                                                                <script type='text/javascript'>
                                                                    function loadMapScenario() {
                                                                        var pushpin;
                                                                        var map = new Microsoft.Maps.Map(document.getElementById('myMap'),
                                                                            {
                                                                                mapTypeId: Microsoft.Maps.MapTypeId.aerial,

                                                                                //center: new Microsoft.Maps.Location(-13.976222872768155, 28.36009024732129),//Zambia
                                                                                center: new Microsoft.Maps.Location(-13.956114157467292, 33.9456680666787),//Malawi
                                                                                zoom: 6,
                                                                            });
                                                                       
                                                                        if ($('#Latitude').val().length > 0 && $('#Longitude').val().length > 0) {
                                                                           
                                                                            var location = new Microsoft.Maps.Location($('#Latitude').val(), $('#Longitude').val());
                                                                            pushpin = new Microsoft.Maps.Pushpin(location, {
                                                                                title: $('#Name').val(),
                                                                                subTitle: $('#PersonID option:selected').text()
                                                                                , color: '#78c8c0'
                                                                            });
                                                                            map.entities.push(pushpin);
                                                                        }
                                                                       
                                                                        // Binding the events
                                                                        Microsoft.Maps.Events.addHandler(map, 'click', function (e) { handleArgs('mapClick', e); });

                                                                        function handleArgs(id, e) {
                                                                           
                                                                            if (pushpin != null) {
                                                                                map.entities.remove(pushpin);
                                                                            }
                                                                            var point = new Microsoft.Maps.Point(e.getX(), e.getY());
                                                                            var loc = e.target.tryPixelToLocation(point);
                                                                            var location = new Microsoft.Maps.Location(loc.latitude, loc.longitude);
                                                                            pushpin = new Microsoft.Maps.Pushpin(location, {
                                                                                title: $('#Name').val(),
                                                                                subTitle: $('#PersonID option:selected').text()
                                                                                , color: '#78c8c0'
                                                                            });
                                                                            map.entities.push(pushpin);
                                                                            var lat = loc.latitude;
                                                                            var lon = loc.longitude;
                                                                            $('#Latitude').val(lat.toString().substr(0,9));
                                                                            $('#Longitude').val(lon.toString().substr(0,9));
                                                                        }

                                                                    }
                                                                </script>
                                                                <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Av_ZYW1QE7oZPoRV_0Lgdmc93z6Km8TYzRRQI3RaoB5aRkT91oOsn7KTLo2TIcWQ&callback=loadMapScenario' async defer></script>


                                                                @Html.HiddenFor(o => o.CreateDateTime)
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        @Html.CustomLabelFor(o => o.CreateDateTime)
                                                                        @Html.CustomTextBoxFor(o => o.CreateDateTime)
                                                                        @Html.CustomValidationMessageFor(o => o.CreateDateTime)
                                                                    </div>
                                                                </div>
                                                            </div>
													</div>
												</div>
										</div>

										
										
								
						<div class="modal-footer">
						<button type = "submit" class="btn btn-default">@Localizer.Current.GetString("Save")</button>
						</div>
						}
						catch (Exception ex)
						{
						<script type = "text/javascript" >
							ShowNotification(false, '@ex.Message.Replace("'","\'").Replace("\r\n"," <br/> ")');
						</script>
						}
					}
			</div>
		</div>
	</div>
    <script>
        $(document).ready(function () {
           // alert($('#StpAssetCategoryID option:selected').text());
            if ($('#StpAssetCategoryID option:selected').text() != "Select") {
                setFarmType($('#StpAssetCategoryID option:selected').text());
                var farmQty = document.getElementById("areaFarmQuantity");
                farmQty.style.display = "block";
            }
           

		$('#modal1').attr('class', 'modal fade').attr('aria-labelledby', 'myModalLabel');
            $('#modal1').modal('show');

            $("#modal1").on('hide.bs.modal', function () {
                $('#tblGridAsset').DataTable().ajax.reload();

            });
            document.getElementById("btnclose").onclick = function () {
                 $('#tblGridAsset').DataTable().ajax.reload();
            };
		          
        $('#StpAssetCategoryID').on('change', function () {
               
                if (this.selectedOptions[0].text != "Select") {
                    setFarmType(this.selectedOptions[0].text);
                    var farmQty = document.getElementById("areaFarmQuantity");
                    farmQty.style.display = "block";
                }
               
            });

            $('input[type="datetime"]').datepicker({
                autoclose: true,
                dateFormat: 'yy/mm/dd'
            });
        });

        function setFarmType(farmType) {


            if (farmType == 'Production using ponds') {
                $('#lblVol').text('Total surface area in meters square');
                $('#lblQty').text('How many ponds');
            }
            if (farmType == 'Production using cages') {
                $('#lblVol').text('Total Cubic Meters');
                $('#lblQty').text('How many cages');
            }
            if (farmType == 'Ras') {
                $('#lblVol').text('Total Cubic Meters');
                $('#lblQty').text('How many ras');
            }
            if (farmType == 'Hatchery') {
                $('#lblVol').text('Total');
                $('#lblQty').text('Quantity');
            }
        }

    </script>
