<!DOCTYPE html>
<html>
<head>
    @using BunaPortal;
    @using DALEFModel;
    @using System.Threading;
    @using System.Globalization;
    @using BunaPortal.HTMLHelpers;


    <title>@ViewBag.Title</title>
    @{
       // string theme = "~/Content/css/Buna.css";
        string theme = "~/Content/css/BunaGrey.css";
        string CurrentURL = Request.Url.AbsoluteUri;

        if (CurrentURL.ToUpper().Contains("HITEC"))
        {
            theme = "~/Content/css/Hitec-DarkYellow.css";

            CommonHelper.CacheAdd("DefaultTheme", theme);
        }
        User user = null;

        if (CommonHelper.CacheGet("DefaultTheme") != null)
        {
            theme = CommonHelper.CacheGet("DefaultTheme").ToString();
        }

        if (Session["User"] != null)
        {
            user = (User)Session["User"];
            // theme = "~/Content/css/" + user.StpData2.DataDescription + ".css";
            theme = "~/Content/css/BunaGrey.css";

            //  AdminController adm = new AdminController();
            //  string lang = adm.GetStpDataByID(user.StpLanguageID).DataCode;
            Thread.CurrentThread.CurrentCulture = Thread.CurrentThread.CurrentUICulture = new CultureInfo(user.LanguageDesc);
            // LocalizationConfig.RegisterResourceProvider(() => new LocalizationDbResourceProvider());
            //// register the localizable model providers
            // LocalizationConfig.RegisterModelProviders();
        }
    }
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/DataTables1.10.12/Bootstrap-3.3.6/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/DataTables1.10.12/DataTables-1.10.12/css/dataTables.bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/DataTables1.10.12/AutoFill-2.1.2/css/autoFill.bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/DataTables1.10.12/Buttons-1.2.2/css/buttons.bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/DataTables1.10.12/FixedHeader-3.1.2/css/fixedHeader.bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/DataTables1.10.12/KeyTable-2.1.3/css/keyTable.bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/DataTables1.10.12/Responsive-2.1.0/css/responsive.bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/DataTables1.10.12/Scroller-1.4.2/css/scroller.bootstrap.min.css")" />


    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery-ui.min.css")" />
    <!--Datatables yadcf AddOn-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DataTables/css/jquery.datatables.yadcf.css")" />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2789364c5c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/ionicons.min.css")">


    <!-- Thermoroller -->
    <link rel="stylesheet" href="@Url.Content("~/Content/DataTables/css/jquery.dataTables_themeroller.css")">
    <!-- Daterangepicker -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/daterangepicker-bs3.css")">
    <!-- Select2 -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/select2.min.css")">
    <!-- Alertify -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Alertify/css/alertify.css")">
    <!-- MultiSelect -->
    <link rel="stylesheet" href="@Url.Content("~/Content/MultiSelect/jquery.multiselect.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/MultiSelect/jquery.multiselect.filter.css")">

    <!-- AdminLTE -->
    @*<link rel="stylesheet" href="@Url.Content("~/Content/css/AdminLTE.css")">*@



    <!-- Custom Skin
    <link id="pagestyle" rel="stylesheet" href="@Url.Content("~/Content/css/AdminLTE.css")">-->
    <link id="pagestyle" rel="stylesheet" href="@Url.Content(theme)">

    <!--datatable extras still to verified get files-->
    @*<script type="text/javascript" src="JSZip-2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="pdfmake-0.1.18/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="pdfmake-0.1.18/build/vfs_fonts.js"></script>*@

    <script src="@Url.Content("~/Scripts/jQuery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jQuery-ui-1.11.4.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-ui-1.10.12/jQuery-ui.min.js")"></script>*@
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--DataTables-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/Bootstrap-3.3.6/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/JSZip-2.5.0/jszip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/pdfmake-0.1.18/build/pdfmake.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/pdfmake-0.1.18/build/vfs_fonts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/DataTables-1.10.12/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/DataTables-1.10.12/js/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/AutoFill-2.1.2/js/dataTables.autoFill.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/AutoFill-2.1.2/js/autoFill.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/Buttons-1.2.2/js/dataTables.buttons.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/Buttons-1.2.2/js/buttons.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/Buttons-1.2.2/js/buttons.html5.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/Buttons-1.2.2/js/buttons.print.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/FixedHeader-3.1.2/js/dataTables.fixedHeader.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/KeyTable-2.1.3/js/dataTables.keyTable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/Responsive-2.1.0/js/dataTables.responsive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/Responsive-2.1.0/js/responsive.bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DataTables1.10.12/Scroller-1.4.2/js/dataTables.scroller.min.js")"></script>

    <!-- Include Grid Column Filters -->
    <script src="@Url.Content("~/Scripts/DataTables/jquery.dataTables.yadcf.js")"></script>
    <!--Validation-->
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>

    <!-- Alertify -->
    <script src="@Url.Content("~/Scripts/AddOn/Alertify/alertify.min.js")"></script>

    <!-- Progress Spin -->
    <script src="@Url.Content("~/Scripts/AddOn/spin.min.js")"></script>

    <!-- Slimscroll -->
    <script src="@Url.Content("~/Scripts/AddOn/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Scripts/AddOn/fastclick.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AddOn/app.min.js")"></script>
    <!--Ajax Forms-->
    <script src="@Url.Content("~/Scripts/AddOn/jquery.form.js")"></script>

    <!-- Include Required Prerequisites -->
    <script src="@Url.Content("~/Scripts/AddOn/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AddOn/datetime.js")"></script>

    <!-- Include Date Range Picker -->
    <script src="@Url.Content("~/Scripts/AddOn/daterangepicker.js")"></script>
    <!-- Include Select2 -->
    <script src="@Url.Content("~/Scripts/select2.full.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery-migrate-1.3.0.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"></script>
    <!-- MultiSelect -->
    @*<script src="@Url.Content("~/Scripts/AddOn/MultiSelect/jquery.multiselect.js")"></script>
        <script src="@Url.Content("~/Scripts/AddOn/MultiSelect/jquery.multiselect.filter.js")"></script>*@

<script>
        $(document).ready(function () {
            $('#progressIcon').hide();

             $('#btnRefresh').click(function (e) {

                    e.preventDefault();
                     loadIcons();
             });
            //Initial load
            //loadFarmersRegCount();
            //loadSuppliersRegCount();
            //loadExtOfficersRegCount()
            ////Refresh every 10 seconds
            setInterval(function () {
                loadFarmersRegCount();
                loadSuppliersRegCount();
                loadExtOfficersRegCount()
            }, 15000);




        });


    function loadFarmersRegCount() {

            var newFarmerRegistrations = 0;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetIconData", "Home")',
                data: {
                    iconType: 'farmers',
                },
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data != null) {
                      //  alert(data.result[0].id);
                        var farmersCount = document.getElementById("farmersRegCount");
                      //  var farmersCountMessage = document.getElementById("farmersRegCountMessage");
                        farmersCount.innerHTML = data.result[0].id + ' New Registered Farmers';
                      //  farmersCountMessage.innerHTML = data.result[0].id + ' farmers have registered';

                    }
                }
                ,
                error: function (data) {

                    alert('Error populating new farmer registrations count' + JSON.stringify(data));
                }
            });
    }

    function loadSuppliersRegCount() {

        //alert('Getting suppliers count');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetIconData", "Home")',
                data: {
                    iconType: 'suppliers',
                },
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data != null) {
                      //  alert(data.result[0].id);
                        var farmersCount = document.getElementById("suppliersRegCount");
                     //   var farmersCountMessage = document.getElementById("suppliersRegCountMessage");
                        farmersCount.innerHTML = data.result[0].id + ' New Registered Suppliers';
                       // farmersCountMessage.innerHTML = data.result[0].id + ' suppliers have registered';

                    }
                }
                ,
                error: function (data) {

                    alert('Error populating new supplier registrations count' + JSON.stringify(data));
                }
            });
    }

    function loadExtOfficersRegCount() {

        //alert('Getting suppliers count');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetIconData", "Home")',
                data: {
                    iconType: 'officers',
                },
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data != null) {
                      //  alert(data.result[0].id);
                        var farmersCount = document.getElementById("officersRegCount");
                      //  var farmersCountMessage = document.getElementById("officersRegCountMessage");
                        farmersCount.innerHTML = data.result[0].id + ' New Registered Officers';
                      //  farmersCountMessage.innerHTML = data.result[0].id + ' officers have registered';

                    }
                }
                ,
                error: function (data) {

                    alert('Error populating new officers registrations count' + JSON.stringify(data));
                }
            });
        }

        //$('input[type="datetime"]').daterangepicker({
        //    singleDatePicker: true,
        //    showDropdowns: true,
        //    minYear: 1901
        //});

        function ShowNotification(success, message) {

            if (success) {
                $(".modal.in").modal("hide");
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(message);
            }
            else {
                $(".modal.in").modal("hide");
                alertify.set('notifier', 'position', 'top-right');
                alertify.error(message);
            }


        };

        //$('input[name="time"]').daterangepicker({
        //    timePicker: true,
        //    locale: {
        //        format: 'hh:mm A'
        //    }
        //});


        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
    }



</script>
</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <div class="logo">
                <span class="logo-mini"></span>
                <span class="logo-lg"></span>
            </div>

            <!-- Header Navbar: style can be found in header.less - -->
            <nav class="navbar navbar-static-top" role="navigation">

                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar" data-toggle="offcanvas" role="button">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
             

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        @if (Session["User"] == null)
                        {
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @Html.ActionLink("Login", "Login", "Account", new { currentTheme = "~/Content/css/Buna.css" }, null)
                                </a>
                            </li>


                        }
                        @if (User.Identity.IsAuthenticated && Session["User"] != null)
                        {
                            @*if (user.OrgID == 3)//Malawi
            {
                <li class="dropdown messages-menu">
                    <img style="height:40px; " src="~/Content/images/Buna/malawi.png" />
                </li>
            }
            if (user.OrgID == 4)//Zambia
            {
                <li class="dropdown messages-menu">
                    <img style="height:40px; " src="~/Content/images/Buna/zambia.png" />
                </li>
            }*@

                            @*@if (User.Identity.IsAuthenticated && Session["User"] != null)
            {*@
                            if (user.UserRoleID == 4)
                            {
                                <li class="dropdown messages-menu">
                                    <div class="info-box small">
                                        <span class="info-box-icon"><i class="fa fa-address-book-o"></i></span>
                                        <div class="info-box-content">
                                           @* <span class="info-box-text">New Registered Farmers</span>*@
                                            <a href="../Person/Person">
                                                <span class="info-box-number" id="farmersRegCount"></span>
                                            </a>
                                        </div>

                                    </div>

                                </li>
                                <li class="dropdown messages-menu"> <span>&nbsp;</span></li>

                                <li class="dropdown messages-menu">
                                    <div class="info-box small">
                                        <span class="info-box-icon"><i class="fa fa-tools"></i></span>
                                        <div class="info-box-content">
                                            @*<span class="info-box-text">New Registered Suppliers</span>*@
                                            <a href="../Supplier/Supplier">
                                                <span class="info-box-number" id="suppliersRegCount"></span>
                                            </a>
                                        </div>

                                    </div>
                                </li>
                                <li class="dropdown messages-menu"> <span>&nbsp;</span></li>

                                <li class="dropdown messages-menu">
                                    <div class="info-box small">
                                        <span class="info-box-icon"><i class="fa fa-street-view"></i></span>
                                        <div class="info-box-content">
                                            @*<span class="info-box-text">New Registered Officers</span>*@
                                            <a href="../User/User">
                                                <span class="info-box-number" id="officersRegCount"></span>
                                            </a>
                                        </div>

                                    </div>
                                </li>
                            }
                            //    }

                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user"></i>

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <span class="hidden-xs">@User.Identity.Name</span>
                                        @*if (user.OrgID == 3)//Malawi
                        {
                            <br /> <span class="hidden-xs">MALAWI</span>
                        }
                        if (user.OrgID == 4)//Zambia
                        {
                            <br /> <span class="hidden-xs">ZAMBIA</span>
                        }*@
                                    }
                                </a>

                                <ul class="dropdown-menu">
                                    <!-- User image -->

                                    <li>
                                        <p>

                                            <div class="form-group">
                                                @Html.Label(@Html.Encode(Localizer.Current.GetString("Fullname"))):
                                                @Html.DisplayName(user.Fullname != null ? user.Fullname : "")
                                            </div>
                                            <div class="form-group">
                                                @Html.Label(@Html.Encode(Localizer.Current.GetString("Email"))):
                                                @Html.DisplayName(user.Email != null ? user.Email : "")
                                            </div>
                                            <div class="form-group">
                                                @Html.Label(@Html.Encode(Localizer.Current.GetString("UserRoleID"))):
                                                @Html.DisplayName(user.UserRole != null ? user.UserRole.RoleName : "")

                                            </div>
                                            <div class="form-group">
                                                @Html.Label(@Html.Encode(Localizer.Current.GetString("StpThemeID"))):
                                                @Html.DisplayName(user.StpData2 != null ? user.StpData2.DataDescription : "")
                                            </div>

                                            <div class="form-group">
                                                @Html.Label(@Html.Encode(Localizer.Current.GetString("StpLanguageID"))):
                                                @Html.DisplayName(user.StpData != null ? user.StpData.DataDescription : "")
                                            </div>

                                            <div class="form-group">
                                                @Html.Label(@Html.Encode(Localizer.Current.GetString("StpDepartmentID"))):
                                                @Html.DisplayName(user.StpData1 != null ? user.StpData1.DataDescription : "")
                                            </div>
                                            <div class="text-center">
                                                @Html.ActionLink("LogOff", "LogOff", "Account", new { currentTheme = @theme }, null)
                                                @*<a href="/Account/LogOff" class="btn btn-default btn-flat">Sign out</a>*@
                                            </div>


                                        </p>
                                        <!-- Menu Footer-->



                                    </li>
                                </ul>

                            </li>
                        }

                    </ul>
                </div>


            </nav>

         
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- sidebar menu: : style can be found in sidebar.less -->
                @Html.Partial("_MenuPartial")
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div id="progressIcon" class="loader"> <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                @RenderSection("Header")
            </section>

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section><!-- /.content -->
            <!-- /.content -
            </div>
            <!-- /.content-wrapper -->

        </div>

        <footer class="main-footer">
            <div >
                <div>
                    <table align="center">
                     <tr>
                        <td>
                            <img style="height:60px; " src="~/Content/images/Buna/logos/RU-logo323.png" />
                        </td>
                        <td>
                            <img style="height: 60px;" src="~/Content/images/Buna/logos/WRC-logo323.png" />
                        </td>
                        <td>
                            <img style="height: 60px;" src="~/Content/images/Buna/logos/RFP-logo323.png" />
                        </td>
                     </tr>
                    </table>
                
                </div>
            </div>
            
   
            @*<div class="col-md-6">
                    <div class="row">
                        <strong> @DateTime.Now.Year - Buna Africa</strong>
                    </div>
                </div>*@
        </footer>
    </div>



    <input id="display" type="hidden" value="@Localizer.Current.GetString("Display")" />
    <input id="records" type="hidden" value="@Localizer.Current.GetString("RecordsPerPage")" />

    <input id="zeroRecords" type="hidden" value="@Localizer.Current.GetString("Nothing found - sorry")" />
    <input id="showing" type="hidden" value="@Localizer.Current.GetString("Showing")" />
    <input id="infoEmpty" type="hidden" value="@Localizer.Current.GetString("No records available")" />
    <input id="filtered" type="hidden" value="@Localizer.Current.GetString("filtered from")" />
    <input id="totalrecords" type="hidden" value="@Localizer.Current.GetString("total records")" />
    <input id="loadingRecords" type="hidden" value="@Localizer.Current.GetString("Loading")" />
    <input id="processing" type="hidden" value="@Localizer.Current.GetString("Processing")" />
    <input id="first" type="hidden" value="@Localizer.Current.GetString("First")" />
    <input id="previous" type="hidden" value="@Localizer.Current.GetString("Previous")" />
    <input id="next" type="hidden" value="@Localizer.Current.GetString("Next")" />
    <input id="last" type="hidden" value="@Localizer.Current.GetString("Last")" />

    @RenderSection("scripts", required: false)




</body>
</html>
