@using DALEFModel;

@{ 
    var adminManager = new BunaPortal.AdminController();

    User user = null;
    user = (User)Session["User"];


    var menuItems = adminManager.GetMenuItems(user);

    

    var mainMenuItems = menuItems.Where(o => o.EntityMenuParentID == null).OrderBy(o => o.ParentSequence).ToList();

    <ul class="sidebar-menu">
       
        <li class="treeview">
           
           
            <a href="~/">
                <i class="fa fa-home"></i> <span>Home</span>
            </a>
        </li>

        @foreach (var menu in mainMenuItems)
        {
            var childMenuItems = menuItems.Where(o => o.EntityMenuParentID == menu.EntityMenuID).OrderBy(o => o.Sequence).ToList();

            if (string.IsNullOrEmpty(menu.Url))
            {
                menu.Url = "#";
            }

            <li class="treeview">
                <a href="@menu.Url">
                    <i class="fa fa-@menu.Param2Value"></i> <!--add the fontawesome here, you can store this in the DB the same like Param2Value-->
                    <span>@menu.MenuDisplayName </span>

                    @if (childMenuItems != null && childMenuItems.Count > 0)
                    {
                        <i class="fa fa-angle-left pull-right "></i>
                    }

                </a>

                @if (childMenuItems.Count > 0)
                {
                    <ul class="treeview-menu">
                        @foreach (EntityMenu childMenu in childMenuItems)
                        {
                            if (string.IsNullOrEmpty(childMenu.Url))
                            {
                                childMenu.Url = "#";
                            }

                            var childSubMenuItems = menuItems.Where(o => o.EntityMenuParentID == childMenu.EntityMenuID).OrderBy(o => o.Sequence).ToList();

                            if (childSubMenuItems.Count <= 0)
                            {
                                //if (!childMenu.Param1.Equals("none") && childMenu.Param1.Equals("true"))
                                //{
                                <li><a href="@childMenu.Url"><i class="fa fa-@childMenu.Param2Value"></i> @childMenu.MenuDisplayName</a></li>
                                //}
                            }
                            else
                            {
                                <li class="">
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i>
                                        <span>@childMenu.MenuDisplayName </span>
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </a>
                                    <ul class="treeview-menu">
                                        @foreach (var childSubMenuItem in childSubMenuItems)
                                        {
                                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == @childSubMenuItem.Url ? "active" : "")"><a href="@childSubMenuItem.Url"><i class="fa fa-@childSubMenuItem.Param2Value"></i> @childSubMenuItem.MenuDisplayName</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                }

            </li>
        }
    </ul>
}