@using CyroTechPortal;
@model DALEFModel.StockTake
<script src = "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" ></script>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="content">
				<div class="box-header">
					<button type = "button" name="btnclose" id="btnclose" class="close" data-dismiss="modal">x</button>
					<h4 class="modal-title">@Html.Label(@Html.Encode(Localizer.Current.GetString("StockTake")), new { @class = "col-md-2 control-label" })</h4>
				</div>

				<div id = "result" ></div>
				@using(Ajax.BeginForm("EditStockTake", "StockTake", new AjaxOptions
					{
						HttpMethod = "POST",
						InsertionMode = InsertionMode.Replace,
						UpdateTargetId = "result"
					}))
					{
						try {
						@* @Html.AntiForgeryToken()*@
						@Html.ValidationSummary(true)

						<div class="col-md-12"> 
				<div class="row">
				<div class="box-default">
				<div class="box-header with-border">
						<h3 class="box-title">@Html.Encode(Localizer.Current.GetString("GroupBoxDetails"))</h3>

                        <div class="box-body">
                            @Html.HiddenFor(o => o.ChangeDateTime)

                            @Html.HiddenFor(o => o.CreateDateTime)

                            @Html.HiddenFor(o => o.IsActive)

                            @Html.HiddenFor(o => o.OrgID)

                            @Html.HiddenFor(o => o.StockTakeID)

                            @Html.HiddenFor(o => o.VersionNo)
                            @Html.HiddenFor(o => o.CreatedByID)

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("PartID")))
                                    @Html.CustomDropDownListFor(o => o.PartID)
                                    @Html.CustomValidationMessageFor(o => o.PartID)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("Quantity")))
                                    @Html.CustomTextBoxFor(o => o.Quantity)
                                    @Html.CustomValidationMessageFor(o => o.Quantity)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("Location")))
                                    @Html.CustomTextBoxFor(o => o.Location)
                                    @Html.CustomValidationMessageFor(o => o.Location)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("StockTakeDate")))
                                    @Html.CustomTextBoxFor(o => o.StockTakeDate)
                                    @Html.CustomValidationMessageFor(o => o.StockTakeDate)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("CreatedByID")))
                                    @Html.CustomDropDownListFor(st => st.CreatedByID)
                                    @Html.CustomValidationMessageFor(o => o.CreatedByID)
                                </div>
                            </div>

                        </div>
						</div>
						</div>
						</div>
						</div>

						<div class="modal-footer">
						<button type = "submit" class="btn btn-default">@Localizer.Current.GetString("Save")</button>
						</div>
						}
						catch (Exception ex)
						{
						<script type = "text/javascript" >
							ShowNotification(false, '@ex.Message.Replace("'","\'").Replace("\r\n"," <br/> ")');
						</script>
						}
					}
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
		$('#modal1').attr('class', 'modal fade').attr('aria-labelledby', 'myModalLabel');
		$('#modal1').modal('show');
		document.getElementById("btnclose").onclick = function () { $('#tblGridStockTake').DataTable().ajax.reload(); };
		});
	</script>
