@using CyroTechPortal; 
@model DALEFModel.Activity
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="box box-primary">
                <div class="callout callout-info">
                    <button id="btnclose" class="btn-lg close pull-right" a href="#" data-dismiss="modal" style="color:#ffffff;"><i class="fa fa fa-times"></i></button>
                    <h4><i class="icon fa fa-pencil"></i> @Html.Label(@Html.Encode(Localizer.Current.GetString("EditActivity")), new { @class = "control-label" })</h4>
                </div><!-- /.info-box -->
            <div class="box-body">
                <div id="result"></div>

                @using (Ajax.BeginForm("EditActivity", "Account", new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "result"
                }))
                {

                    @*@Html.AntiForgeryToken()*@

                    @Html.HiddenFor(m => m.ActivityID);
                    @Html.ValidationSummary(true)
                        <div class="form-group">

                            @Html.Label(@Html.Encode(Localizer.Current.GetString("ActivityName")))
                            @Html.CustomTextBoxFor(o => o.ActivityName)
                            @Html.CustomValidationMessageFor(o => o.ActivityName)

                        </div>
                        <div class="form-group">
                            @Html.Label(@Html.Encode(Localizer.Current.GetString("IsActive")))
                            @Html.CustomCheckBoxFor(m => m.IsActive)

                        </div>
                        <div class="form-group">
                            @Html.Label(@Html.Encode(Localizer.Current.GetString("StpActivityGroupID")))
                            @Html.CustomValidationMessageFor(o => o.StpActivityGroupID)
                            @Html.CustomDropDownListFor(o => o.StpActivityGroupID)
                        </div>


                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">@Localizer.Current.GetString("Save")</button>
                        </div>

                }
            </div>

        </div>
    </div>
    
<script>
     
    $(document).ready(function () {
        $('#modal1').attr('class', 'modal fade').attr('aria-labelledby', 'myModalLabel');
        $('#modal1').modal('show');
        document.getElementById("btnclose").onclick = function () { $('#tblGrid').DataTable().ajax.reload(); };
        
    });

    
   
</script>
    
</div>


