@using BunaPortal;
@model DALEFModel.User
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="box">
            <div class="callout callout-info">
                @*<button id="btnclose" class="btn-lg close pull-right" a href="#" data-dismiss="modal" style="color:#ffffff;"><i class="fa fa fa-times"></i></button>*@
                <h4><i class="icon fa fa-pencil"></i> <label class="control-label"> @ViewBag.Title </label></h4>
            </div><!-- /.info-box -->
            <div class="box-body">

                <div id="result"></div>
                @using (Ajax.BeginForm("LogOn", "Account", new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "result",


                }))
                {
                    try
                    {
                        @* @Html.AntiForgeryToken()*@
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(o => o.UserID)


                        <div class="form-group has-feedback">

                            @Html.CustomLabelFor(o => o.UserName)
                            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Username" data-val="true" />
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            @Html.CustomValidationMessageFor(o => o.UserName)

                        </div>

                        <div class="form-group has-feedback">
                            @Html.CustomLabelFor(o => o.UserPWD)
                            @*@Html.CustomTextBoxFor(st => st.UserPWD)*@
                            <input type="password" class="form-control" id="UserPWD" name="UserPWD" placeholder="Password" data-val="true" />
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            @Html.CustomValidationMessageFor(o => o.UserPWD)
                        </div>
                        
                            @*<div class="form-group">
                        @Html.Label(@Html.Encode(Localizer.Current.GetString("Language")))
                        @Html.CustomDropDownListFor(st => st.StpLanguageID)
                        @Html.CustomValidationMessageFor(o => o.StpLanguageID)
                    </div>

                            <div class="form-group">
                        @Html.Label(@Html.Encode(Localizer.Current.GetString("Theme")))
                        @Html.CustomDropDownListFor(st => st.StpThemeID)
                        @Html.CustomValidationMessageFor(o => o.StpThemeID)
                    </div>*@
                            <div align="center">
                                <button type="submit" id="btnLogin" class="btn btn-default">@Localizer.Current.GetString("Login")</button>
                            </div>
                            @*<div align="center">
                                @Html.Label(@Html.Encode(Localizer.Current.GetString("NoAccount")))

                            </div>*@
                            @*<div align="center">
                        @Html.ActionLink(Localizer.Current.GetString("Register"), "Register", "Account")
                    </div>*@
                            <br />
                            <div align="center">
                               @* <button type="button" name="btnReset" id="btnReset" class="btn btn-default">@Localizer.Current.GetString("Reset Password")</button>*@
                                @Html.ActionLink(Localizer.Current.GetString("Reset Password"), "RequestReset", "Account")
                            </div>
                            <div class="form-group">

                                @Html.Hidden("SaveSettings", false)

                            </div>
                            }
                            catch (Exception ex)
                            {
                            <script type="text/javascript">
                               ShowNotification(false,'@ex.Message.Replace("'","\\'").Replace("\r\n","<br/>")');
                            </script>
                            }
                            }
                        </div>
                    </div>
    </div>
    </div>
@section Header{
    Buna
}
<script>
    function OnSuccess() {
       $('#progressIcon').hide();
       window.location.href = '@Url.Action("Home", "Home")';       // The function returns the product of p1 and p2
    }
    function OnPwdReset() {
        var username = $('#UserName').val();
      //  alert(username);
        window.location.href = '@Url.Action("ResetPassword", "Account")?username=' + username;       // The function returns the product of p1 and p2
    }

    $(document).ready(function () {
    $('#progressIcon').hide();
    $('#modal1').attr('class', 'modal fade').attr('aria-labelledby', 'myModalLabel');
        $('#modal1').modal('show');
        document.getElementById("btnLogin").onclick = function () {
         $('#progressIcon').show();
        };
        @*$('#btnReset').on('click', '.btnEdit', function(e)
		{
			e.preventDefault();
			var value = $(this).attr("data-id");
			$.ajax({
				type: 'POST',
				url: '@Url.Action("GetStockTake", "StockTake")',
				data: { id: value },
				dataType: "text",
				success: function(result)
				{
				if (result)
				{
				$('#viewModalStockTake').html(result);
				}
				else
				{
					ShowNotification(false, data.errorMessage)
				}
			}
			});
		});*@

    //$('#UserName').change(function () {
    //    var user = $('#UserName').val();
    //    var baseRoot = window.location.pathname.substring(0, window.location.pathname.lastIndexOf("/"));
    //    $.getJSON(baseRoot + "/GetUserSettingsByUsername",
    //        {
    //            username: user
    //        },

    //        function (data) {
    //            $("#StpLanguageID option[value=" + data.LangID + "]").attr('selected', 'selected');
    //            $("#StpThemeID option[value=" + data.ThemeID + "]").attr('selected', 'selected');
    //            $("#OrgID option[value=" + data.OrgID + "]").attr('selected', 'selected');
    //        });
    //});


    });
</script>
       


               
            @*<div class="form-group has-feedback">
                <input class="form-control" id="txtUsername" data-val="true" data-val-required="The Username field is required." name="Name" type="text" placeholder="Username">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="txtPassword" placeholder="Password" data-val="true" data-val-required="Password field is required." name="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
            
            <div class="row">
                <div class="col-xs-8">

                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" id="btnLogin" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>*@
        
    

   