@using BunaPortal;
@model DALEFModel.StpData
<script src = "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" ></script>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type = "button" name="btnclose" id="btnclose" class="close" data-dismiss="modal">x</button>
					<h4 class="modal-title">@Html.Label(@Html.Encode(Localizer.Current.GetString("StpData")), new { @class = "control-label" })</h4>
				</div>

				<div class="modal-body">
				<div id = "result" ></div>
				@using(Ajax.BeginForm("EditStpData", "Admin", new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "result"
                }))
                {
                    try
                    {
						@* @Html.AntiForgeryToken()*@
						@Html.ValidationSummary(true)

						<div id="GeneralGroupbox" dir="ltr" style="text-align:left;"><fieldset><legend>@Html.Encode(Localizer.Current.GetString("GroupBoxGeneral"))</legend>
                            
						<div style="width: 45%;height:100%; float: left; top: 5px;" >
							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("DataCode")))
							@Html.CustomTextBoxFor(o => o.DataCode)
							@Html.CustomValidationMessageFor(o => o.DataCode)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("DataDescription")))
							@Html.CustomTextBoxFor(o => o.DataDescription)
							@Html.CustomValidationMessageFor(o => o.DataDescription)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("IsActive")))
							@Html.CustomCheckBoxFor(o => o.IsActive)
							</div>




						</div>
						<div id="Divider1" style="width: 30px;height:100%;float: right;  top: 5px; " ></div>
						<div style="width: 45%;height:100%; float: right; top: 5px; ">
							@Html.HiddenFor(o => o.StpDataID)

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("StpDataTypeID")))
							@Html.CustomDropDownListFor(st => st.StpDataTypeID)
							@Html.CustomValidationMessageFor(o => o.StpDataTypeID)
							</div>


						</div>
						</fieldset></div>

						<div class="modal-footer">
						<button type = "submit" class="btn btn-default">@Localizer.Current.GetString("Save")</button>
						</div>
                    }
                    catch(Exception ex)
                    {
                        throw ex;
                    }
                }
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
		$('#modal1').attr('class', 'modal fade').attr('aria-labelledby', 'myModalLabel');
		$('#modal1').modal('show');
		document.getElementById("btnclose").onclick = function () { $('#tblGridStpDataOtiMoz').DataTable().ajax.reload(); };
		});
	</script>
	</div>
