@using CyroTechPortal;
@model DALEFModel.Entity
<script src = "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" ></script>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type = "button" name="btnclose" id="btnclose" class="close" data-dismiss="modal">x</button>
					<h4 class="modal-title">@Html.Label(@Html.Encode(Localizer.Current.GetString("Entity")), new { @class = "control-label" })</h4>
				</div>

				<div class="modal-body">
				<div id = "result" ></div>
				@using(Ajax.BeginForm("EditEntity", "Admin", new AjaxOptions
					{
						HttpMethod = "POST",
						InsertionMode = InsertionMode.Replace,
						UpdateTargetId = "result"
					}))
					{
						@* @Html.AntiForgeryToken()*@
						@Html.ValidationSummary(true)

							<div class="form-group">
							@Html.HiddenFor(o => o.EntityID)
							
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("TableName")))
							@Html.CustomTextBoxFor(o => o.TableName)
							@Html.CustomValidationMessageFor(o => o.TableName)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("ActivityID")))
							@Html.CustomDropDownListFor(st => st.ActivityID)
							@Html.CustomValidationMessageFor(o => o.ActivityID)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("Name")))
							@Html.CustomTextBoxFor(o => o.Name)
							@Html.CustomValidationMessageFor(o => o.Name)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("PathSetupForm")))
							@Html.CustomTextBoxFor(o => o.PathSetupForm)
							@Html.CustomValidationMessageFor(o => o.PathSetupForm)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("PathEditTemplate")))
							@Html.CustomTextBoxFor(o => o.PathEditTemplate)
							@Html.CustomValidationMessageFor(o => o.PathEditTemplate)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("MngCtlrName")))
							@Html.CustomTextBoxFor(o => o.MngCtlrName)
							@Html.CustomValidationMessageFor(o => o.MngCtlrName)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("MaxNoFieldsInGrpBox")))
							@Html.CustomTextBoxFor(o => o.MaxNoFieldsInGrpBox)
							@Html.CustomValidationMessageFor(o => o.MaxNoFieldsInGrpBox)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("IsTabbedForm")))
							@Html.CustomCheckBoxFor(o => o.IsTabbedForm)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("IsMultiLanguage")))
							@Html.CustomCheckBoxFor(o => o.IsMultiLanguage)
							</div>

							<div class="form-group">
							@Html.Label(@Html.Encode(Localizer.Current.GetString("IsMultiGrid")))
							@Html.CustomCheckBoxFor(o => o.IsMultiGrid)
							</div>

                            <div class="form-group">
                                @Html.Label(@Html.Encode(Localizer.Current.GetString("IsActive")))
                                @Html.CustomCheckBoxFor(o => o.IsActive)
                               
                            </div>

							
						<div class="modal-footer">
						<button type = "submit" class="btn btn-default">@Localizer.Current.GetString("Save")</button>
						</div>
					}
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
		$('#modal1').attr('class', 'modal fade').attr('aria-labelledby', 'myModalLabel');
		$('#modal1').modal('show');
		document.getElementById("btnclose").onclick = function () { $('#tblGrid').DataTable().ajax.reload(); };
		});
	</script>
	</div>
