@using BunaPortal;
@{
    ViewBag.Title = Localizer.Current.GetString("Menu Maintenance");
  
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div id="table" class="box-header with-border">
                @*<h3 class="box-title">Menu Items</h3>*@
                <a href="#" id="btnAdd" class="btn btn-delta btnAdd" >@Localizer.Current.GetString("Add")</a>
                <div class="box-tools pull-right">
                    @*<button  type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>*@
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="responseMessage">
                        </div>
                    </div>
                </div>
                <div id="table" class="table-responsive">
                    <table id="tblGrid" class="table no-margin">
                        <thead>
                            <tr>
                                <th>MenuID</th>
                                <th>@Localizer.Current.GetString("MenuDisplayName")</th>
                                <th>@Localizer.Current.GetString("Url")</th>
                                <th>@Localizer.Current.GetString("Sequence")</th>
                                <th>@Localizer.Current.GetString("ParentMenu")</th>
                                <th>@Localizer.Current.GetString("ParentSequence")</th>
                                <th>@Localizer.Current.GetString("Param2Value")</th>
                                <th>@Localizer.Current.GetString("IsActive")</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                       
                        </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
</div>

<div id="viewModal" ></div>

@section Header{
    <h1>
        @Localizer.Current.GetString("Menu Maintenance");
        <small>@Localizer.Current.GetString("Maintain menu descriptions")</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i>@Localizer.Current.GetString("Home")</a></li>
        <li><a href="#" class="active">@Localizer.Current.GetString("Menu")</a></li>
    </ol>
}

@section scripts{
   

    <script type="text/javascript">
            $(document).ready(function () {

                $('#responseMessage').html("");

                var table = $('#tblGrid').dataTable({
                    "bServerSide": true,
                    "bAutoWidth": true,
                    "sAjaxSource": '@Url.Action("GetMenuList", "Admin")',
                    "fnServerData": function (sSource, aoData, fnCallback) {
                        $.ajax({
                            "dataType": 'json',
                            "contentType": "application/json; charset=utf-8",
                            "type": "GET",
                            "url": sSource,
                            "data": aoData,
                            "success": fnCallback,
                            "error": function (xhr, textStatus, error){
                               $('#responseMessage').html(xhr.responseText);
                            }
                        });
                    },
                    "bProcessing": true,
                   // "dom": 'T<"clear"><Blp>rtip',
                    "aoColumns": [
                               { "mDataProp": "EntityMenuID" },
                               { "mDataProp": "MenuDisplayName" },
                               { "mDataProp": "Url" },
                               { "mDataProp": "Sequence" },
                               { "mDataProp": "EntityMenuParentID" },
                               { "mDataProp": "ParentSequence" },
                               { "mDataProp": "Param2Value" },
                               { "mDataProp": "IsActiveCheckBox" },
                               { "mDataProp": "EditButton" },
                               { "mDataProp": "DeleteButton" }
                    ],
                   // "columnDefs": [{ orderable: false, targets: [7, 8] }, { visible: false, targets: [0] }],
                    "language": {
                        "lengthMenu": "  " + display.value + " _MENU_ " + records.value,//"Display _MENU_ records per page"
                        "zeroRecords": zeroRecords.value,
                        "info": showing.value + " _PAGE_ " + "- _PAGES_",//"Showing page _PAGE_ of _PAGES_"
                        "infoEmpty": infoEmpty.value,
                        "infoFiltered": "(" + filtered.value + " _MAX_ " + totalrecords.value + ")",//"(filtered from _MAX_ total records)"
                        "loadingRecords": loadingRecords.value,
                        "processing": '<div class="loader"> <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div> ', 
                        "paginate": {
                            "first": first.value,
                            "last": last.value,
                            "next": next.vaue,
                            "previous": previous.value
                        },
                    }
                }).yadcf([
                        {
                        column_number: 0,
                        select_type: 'select2',
                        },
                        {
                            column_number: 1,
                            filter_type: "text",
                            filter_delay: 500
                        },
                        {
                            column_number: 2,
                            filter_type: "text",
                            filter_delay: 500
                        },
                        {
                            column_number: 3,
                            filter_type: "text",
                            filter_delay: 500
                        },
                        {
                            column_number: 4,
                            select_type: 'select2',
                        },
                        {
                            column_number: 5,
                            filter_type: "text",
                            filter_delay: 500
                        },
                        {
                            column_number: 6,
                            select_type: 'select2',
                            data: ["True", "False"]
                        },
                        //{
                        //    column_number: 3,
                        //    filter_type: "range_date",
                        //    date_format: "mm/dd/yyyy",
                        //    filter_delay: 500
                        //},
                        //{
                        //    column_number: 4,
                        //    filter_type: "range_number_slider",
                        //    filter_delay: 500
                        //},
                ], { cumulative_filtering: true });

                $("#tblGrid_filter").html('');

                $('#btnAdd').click( function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetMenu", "Admin")',
                        data: { id: '' },
                        dataType: "text",
                        success: function (result) {
                            if (result) {
                                $('#viewModal').html(result);
                            }
                            else {
                                SaveError(data.errorMessage);
                            }

                        },

                    });


                });

                $('#tblGrid').on('click', '.btnEdit', function (e)
                {
                        e.preventDefault();
                        var value = $(this).attr("data-id");

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("GetMenu", "Admin")',
                            data: { id: value },
                            dataType: "text",
                            success: function (result)
                            {
                                if (result)
                                {
                                    $('#viewModal').html(result);
                                }
                                else
                                {
                                    SaveError(data.errorMessage);
                                }

                            },

                        });


                });

                $('#tblGrid').on('click', '.btnDelete', function (e)
                {
                    if (confirm('Are you sure you want to delete'))
                    {
                        e.preventDefault();

                        var value = $(this).attr("data-id");

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteMenu", "Admin")',
                            data: { id: value },
                            dataType: "text",
                            success: function (result) {
                                $('#viewModal').html(result);
                               // document.getElementById('responseMessage').innerHTML = result;
                                $('#tblGrid').DataTable().ajax.reload();

                            },

                        });

                    }
                    });

            });

        function ShowNotification(success, message) {

            var icon = '';
            var header = '';
            var alertClass = '';

            if (success) {
                header = 'Success';
                alertClass = 'alert-success';
                icon = 'fa-check';
            }
            else {
                header = 'Error';
                alertClass = 'alert-danger';
                icon = 'fa-ban';
            }

            var html = '<div class="alert ' + alertClass + ' alert-dismissible">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' +
                    '<h4><i class="icon fa ' + icon + '"></i> ' + header + '</h4>' + message +
                    '</div>';

            $("#responseMessage").html(html);
        };

    </script>

}
