@using CyroTechPortal;
@model DALEFModel.WorkOrder
<script src = "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" ></script>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="content">
				<div class="box-header">
					<button type = "button" name="btnclose" id="btnclose" class="close" data-dismiss="modal">x</button>
					<h4 class="modal-title">@Html.Label(@Html.Encode(Localizer.Current.GetString("WorkOrder")), new { @class = "col-md-2 control-label" })</h4>
				</div>

				<div id = "result" ></div>
				@using(Ajax.BeginForm("EditWorkOrder", "WorkOrder", new AjaxOptions
					{
						HttpMethod = "POST",
						InsertionMode = InsertionMode.Replace,
						UpdateTargetId = "result"
					}))
					{
						try {
						@* @Html.AntiForgeryToken()*@
						@Html.ValidationSummary(true)

						<div class="col-md-12"> 
				<div class="row">
				<div class="box-default">
				<div class="box-header with-border">
						<h3 class="box-title">@Html.Encode(Localizer.Current.GetString("GroupBoxPart details"))</h3>

                        <div class="box-body">
                            @Html.HiddenFor(o => o.OrgID)
                            @Html.HiddenFor(o => o.CreatedByID)
                            @Html.HiddenFor(o => o.VersionNo)
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.HiddenFor(o => o.WorkOrderID)
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("WorkOrderID")))
                                    @Html.CustomTextBoxFor(o => o.WorkOrderID)
                                    @Html.CustomValidationMessageFor(o => o.WorkOrderID)
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("WorkOrderCode")))
                                    @Html.CustomTextBoxFor(o => o.WorkOrderCode)
                                    @Html.CustomValidationMessageFor(o => o.WorkOrderCode)
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("IsQuote")))
                                    @Html.CustomCheckBoxFor(o => o.IsQuote)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("Description")))
                                    @Html.CustomTextBoxAreaFor(o => o.Description)
                                    @Html.CustomValidationMessageFor(o => o.Description)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("StpWorkOrderTypeID")))
                                    @Html.CustomDropDownListFor(st => st.StpWorkOrderTypeID)
                                    @Html.CustomValidationMessageFor(o => o.StpWorkOrderTypeID)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("TechnicianID")))
                                    @Html.CustomDropDownListFor(st => st.TechnicianID)
                                    @Html.CustomValidationMessageFor(o => o.TechnicianID)
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("StpClientID")))
                                    @Html.CustomDropDownListFor(st => st.StpClientID)
                                    @Html.CustomValidationMessageFor(o => o.StpClientID)
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("ClientContact")))
                                    @Html.CustomTextBoxFor(o => o.ClientContact)
                                    @Html.CustomValidationMessageFor(o => o.ClientContact)
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("ClientPhone")))
                                    @Html.CustomTextBoxFor(o => o.ClientPhone)
                                    @Html.CustomValidationMessageFor(o => o.ClientPhone)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("Address")))
                                    @Html.CustomTextBoxAreaFor(o => o.Address)
                                    @Html.CustomValidationMessageFor(o => o.Address)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("QuoteAcceptedDate")))
                                    @Html.CustomTextBoxFor(o => o.QuoteAcceptedDate)
                                    @Html.CustomValidationMessageFor(o => o.QuoteAcceptedDate)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("QuoteAcceptedBy")))
                                    @Html.CustomTextBoxFor(o => o.QuoteAcceptedBy)
                                    @Html.CustomValidationMessageFor(o => o.QuoteAcceptedBy)
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("ScheduledDate")))
                                    @Html.CustomTextBoxFor(o => o.ScheduledDate)
                                    @Html.CustomValidationMessageFor(o => o.ScheduledDate)
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("CompletedDate")))
                                    @Html.CustomTextBoxFor(o => o.CompletedDate)
                                    @Html.CustomValidationMessageFor(o => o.CompletedDate)
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("CreateDateTime")))
                                    @Html.CustomTextBoxFor(o => o.CreateDateTime)
                                    @Html.CustomValidationMessageFor(o => o.CreateDateTime)
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("StartTime")))
                                    @Html.CustomTextBoxFor(o => o.StartTime)
                                    @Html.CustomValidationMessageFor(o => o.StartTime)
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("EndTime")))
                                    @Html.CustomTextBoxFor(o => o.EndTime)
                                    @Html.CustomValidationMessageFor(o => o.EndTime)
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("TravelTime")))
                                    @Html.CustomTextBoxFor(o => o.TravelTime)
                                    @Html.CustomValidationMessageFor(o => o.TravelTime)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("WorkedHours")))
                                    @Html.CustomTextBoxFor(o => o.WorkedHours)
                                    @Html.CustomValidationMessageFor(o => o.WorkedHours)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("CreatedByID")))
                                    @Html.CustomDropDownListFor(st => st.CreatedByID)
                                    @Html.CustomValidationMessageFor(o => o.CreatedByID)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("IsActive")))
                                    @Html.CustomCheckBoxFor(o => o.IsActive)
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label(@Html.Encode(Localizer.Current.GetString("ChangeDateTime")))
                                    @Html.CustomTextBoxFor(o => o.ChangeDateTime)
                                    @Html.CustomValidationMessageFor(o => o.ChangeDateTime)
                                </div>
                            </div>

                        </div>
						</div>
						</div>
						</div>
						</div>

						<div class="modal-footer">
						<button type = "submit" class="btn btn-default">@Localizer.Current.GetString("Save")</button>
						</div>
						}
						catch (Exception ex)
						{
						<script type = "text/javascript" >
							ShowNotification(false, '@ex.Message.Replace("'","\'").Replace("\r\n"," <br/> ")');
						</script>
						}
					}
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {

            $('input[type="datetime"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901
            });
		$('#modal1').attr('class', 'modal fade').attr('aria-labelledby', 'myModalLabel');
		$('#modal1').modal('show');
		document.getElementById("btnclose").onclick = function () { $('#tblGridWorkOrder').DataTable().ajax.reload(); };
		});
	</script>
