@using CyroTechPortal;
@{
 ViewBag.Title = Localizer.Current.GetString("HitecJob");
}

<div class="row">
<div class="col-md-12">
<div class="box box-primary">

<div id="viewModalHitecJob" ></div>
	<div class="box-body">
		<div class="row">
			<div class="col-md-12">
				<div id="responseMessageHitecJob" ></div>
			</div>
		</div>
		<div id="table" class="table-responsive">
		<table id= "tblGridHitecJob" class="table no-margin">
		<thead>
			<tr>
		<th>HitecJobID</th>
		<th>@Localizer.Current.GetString("Fullname")</th>
		<th>@Localizer.Current.GetString("Client")</th>
		<th>@Localizer.Current.GetString("ContactNumber")</th>
		<th>@Localizer.Current.GetString("Email")</th>
		<th>@Localizer.Current.GetString("InvoiceNo")</th>
		<th>@Localizer.Current.GetString("IsInvoiced")</th>
		<th>@Localizer.Current.GetString("IsJobCardSend")</th>
		<th>@Localizer.Current.GetString("IsComplete")</th>
		<th></th>
		<th></th>
			</tr>
		</thead>
		</table>
		</div>
	</div>
</div>
</div>
	@section Header{
	<h1>
	@Localizer.Current.GetString("HitecJob")
	</h1>
	<ol class="breadcrumb">
	<li><a href = "/" ><i class="fa fa-home"></i>@Localizer.Current.GetString("Home")</a></li>
	<li><a href = "#" class="active">@Localizer.Current.GetString("HitecJob")</a></li>
	</ol>
}

@section scripts
{

	<script type="text/javascript">

		$(document).ready(function() {

			$('#responseMessageHitecJob').html("");

			var datatableHitecJob = $('#tblGridHitecJob').dataTable({
			"bServerSide": true,
			"bAutoWidth": true,
			"sAjaxSource": '@Url.Action("GetHitecJobList", "HitecJob")',
			"fnServerData": function(sSource, aoData, fnCallback) {
			$('#responseMessageHitecJob').html("");
			$.ajax({
				"dataType": 'json',
				"contentType": "application/json; charset = utf-8",
				"type": "GET",
				"url": sSource,
				"data": aoData,
				"success": fnCallback,
				"error": function(xhr, textStatus, error){
					$('#responseMessageHitecJob').html(xhr.responseText);
				}
			});
			},
			"bProcessing":true,
			"dom": 'T<"clear"><Blp>rtip',
			"lengthMenu": [[10, 100, 500, 1000, -1], [10, 100, 500, 1000, "All"]],
		"aoColumns": [
			 { "mDataProp": "HitecJobID" },
			 { "mDataProp": "Fullname" },
			 { "mDataProp": "Client" },
			 { "mDataProp": "ContactNumber" },
			 { "mDataProp": "Email" },
			 { "mDataProp": "InvoiceNo" },
			 { "mDataProp": "IsInvoiced" },
			 { "mDataProp": "IsJobCardSend" },
			 { "mDataProp": "IsComplete" },
			 {"mDataProp": "EditButton" },
			 {"mDataProp": "DeleteButton" },
		],
		"columnDefs": [{ visible: false, targets: [0] },{ orderable: false, targets: [9,10] } ],
		"buttons": [
			{
				text: '<i class="fa fa-plus" aria-hidden="true"></i>',
				action: function (e, dt, node, config) {
                    $('#progressIcon').show();
				$.ajax({
					type: 'POST',
					url: '@Url.Action("GetHitecJob", "HitecJob")',
					data: { id: '' },
					dataType: "text",
					success: function(result) {
						if (result)
						{
							$('#viewModalHitecJob').html(result);
						}
						else {
							ShowNotification(false, data.errorMessage)
						}
                        $('#progressIcon').hide();
					}
				});
				},
					titleAttr: '@Localizer.Current.GetString("Add")'
				},
				{
					text: '<i class="fa fa-file-excel-o"></i>',
					action: function(e, dt, node, config)
				{
				$.ajax({
					type: 'POST',
					url: '@Url.Action("ExportForm", "HitecJob")',
					data: { dataList: JSON.stringify(dt.ajax.params()) },
					success: function(result) {
					if (result)
					{
						$('#viewModalHitecJob').html(result);
					}
					else {
						ShowNotification(false, data.errorMessage)
					}
					}
				});
				},
					titleAttr: '@Localizer.Current.GetString("Export")'
				},
				{
					extend: 'copyHtml5',
					text: '<i class="fa fa-files-o"></i>',
					titleAttr: 'Copy'
				},
				{
					extend: 'print',
					text: '<i class="fa fa-print" aria-hidden="true"></i>',
					titleAttr: '@Localizer.Current.GetString("Print")',
					customize: function(win)
					{
						$(win.document.body)
						.css('font-size', '10pt')
						.prepend(
						 '<img src="http://datatables.net/media/images/logo-fade.png" style="position:absolute; top:0; left:0;" />'
						);
						$(win.document.body).find('table')
						.addClass('compact')
						.css('font-size', 'inherit');
					}
				}
		],
		"language": {
			"lengthMenu":"  " + display.value + " _MENU_ " + records.value,
			"zeroRecords": zeroRecords.value,
			"info":  showing.value + " _PAGE_ " + " of _PAGES_ from _TOTAL_ entries", 
			"infoEmpty": infoEmpty.value, 
			"infoFiltered":  "(" + filtered.value + " _MAX_ " + totalrecords.value + ")", 
			"loadingRecords": loadingRecords.value, 
			"processing": '<div class="loader"> <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div> ', 
			"paginate": {
				"first": first.value, 
				"last": last.value, 
				"next": next.vaue, 
				"previous": previous.value 
			},
		}
		}).yadcf([
			{
				 column_number: 1,
				filter_type: "text",
				filter_delay: 500
			},
			{
				 column_number: 2,
				filter_type: "text",
				filter_delay: 500
			},
			{
				 column_number: 3,
				filter_type: "text",
				filter_delay: 500
			},
			{
				 column_number: 4,
				filter_type: "text",
				filter_delay: 500
			},
			{
				column_number: 5,
				filter_type: "text",
				column_data_type: "text",
				 
				filter_delay: 500
			},
			{
				 column_number: 6,
				filter_type: "select",
				data: ["True", "False"]
			},
			{
				 column_number: 7,
				filter_type: "select",
				data: ["True", "False"]
			},
			{
				 column_number: 8,
				filter_type: "select",
				data: ["True", "False"]
			},
		], { cumulative_filtering: true });

		$('#tblGridHitecJob').on('click', '.btnEdit', function(e)
		{
			e.preventDefault();
			$('#progressIcon').show();
			var value = $(this).attr("data-id");
			$.ajax({
				type: 'POST',
				url: '@Url.Action("GetHitecJob", "HitecJob")',
				data: { id: value },
				dataType: "text",
				success: function(result)
				{
				$('#progressIcon').hide();
				if (result)
				{
				$('#viewModalHitecJob').html(result);
				}
				else
				{
					ShowNotification(false, data.errorMessage)
				}
			}
			});
		});

		$('#tblGridHitecJob').on('dblclick', 'tr', function(e)
		{
			e.preventDefault();
			$('#progressIcon').show();
			var value = $('#tblGridHitecJob').DataTable().row(this).data()["HitecJobID"];
			$.ajax({
				type: 'POST',
				url: '@Url.Action("GetHitecJob", "HitecJob")',
				data: { id: value },
				dataType: "text",
				success: function(result)
				{
				$('#progressIcon').hide();
				if (result)
				{
				$('#viewModalHitecJob').html(result);
				}
				else
				{
					ShowNotification(false, data.errorMessage)
				}
			}
			});
		});

		$('#tblGridHitecJob').on('click', '.btnDelete', function(e)
		{
			if (confirm('Are you sure you want to delete'))
			{
			e.preventDefault();
			$('#progressIcon').show();
			var value = $(this).attr("data-id");
			$.ajax({
				type: 'POST',
				url: '@Url.Action("DeleteHitecJob", "HitecJob")',
				data: { id: value },
				dataType: "text",
				success: function(result) {
				$('#progressIcon').hide();
				$('#viewModalHitecJob').html(result);
				$('#tblGridHitecJob').DataTable().ajax.reload();
				},
			 });
			 }
		 });

		$('a.toggle-vis').on('click', function(e)
		{
			e.preventDefault();
			var column = $('#tblGridHitecJob').DataTable().column($('#tblGridHitecJob').attr('data-column'));
			column.visible(!column.visible());
		 });


		 });

	</script>
	}
