@using CyroTechPortal;
@model DALEFModel.Person
<script src = "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" ></script>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="content">
				<div class="box-header">
					<button type = "button" name="btnclose" id="btnclose" class="close" data-dismiss="modal">x</button>
					<h4 class="modal-title">@Html.Label(@Html.Encode(Localizer.Current.GetString("Person")), new { @class = "col-md-2 control-label" })</h4>
				</div>

				<div id = "result" ></div>
				@using(Ajax.BeginForm("EditPerson", "Person", new AjaxOptions
					{
						HttpMethod = "POST",
						InsertionMode = InsertionMode.Replace,
						UpdateTargetId = "result"
					}))
					{
						try {
							@* @Html.AntiForgeryToken()*@
							@Html.ValidationSummary(true)

										<div class="col-md-12"> 
												<div class="row">
													<div class="box-default">
														<div class="box-header with-border">
															<h3 class="box-title">@Html.Encode(Localizer.Current.GetString("GroupBoxPerson Details"))</h3>

															<div class="box-body">
																<div class="col-md-3">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.StpTitleID)
																		@Html.CustomDropDownListFor(st => st.StpTitleID)
																		@Html.CustomValidationMessageFor(o => o.StpTitleID)
																	</div>
																</div>

																<div class="col-md-3">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.Firstnames)
																		@Html.CustomTextBoxFor(o => o.Firstnames)
																		@Html.CustomValidationMessageFor(o => o.Firstnames)
																	</div>
																</div>

																<div class="col-md-3">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.Surname)
																		@Html.CustomTextBoxFor(o => o.Surname)
																		@Html.CustomValidationMessageFor(o => o.Surname)
																	</div>
																</div>

																<div class="col-md-6">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.StpPersonTypeID)
																		@Html.CustomDropDownListFor(st => st.StpPersonTypeID)
																		@Html.CustomValidationMessageFor(o => o.StpPersonTypeID)
																	</div>
																</div>

																<div class="col-md-6">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.StpPersonCategoryID)
																		@Html.CustomDropDownListFor(st => st.StpPersonCategoryID)
																		@Html.CustomValidationMessageFor(o => o.StpPersonCategoryID)
																	</div>
																</div>

																<div class="col-md-3">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.MobilePhone)
																		@Html.CustomTextBoxFor(o => o.MobilePhone)
																		@Html.CustomValidationMessageFor(o => o.MobilePhone)
																	</div>
																</div>

																<div class="col-md-3">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.WorkPhone)
																		@Html.CustomTextBoxFor(o => o.WorkPhone)
																		@Html.CustomValidationMessageFor(o => o.WorkPhone)
																	</div>
																</div>

																<div class="col-md-3">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.HomePhone)
																		@Html.CustomTextBoxFor(o => o.HomePhone)
																		@Html.CustomValidationMessageFor(o => o.HomePhone)
																	</div>
																</div>

																<div class="col-md-12">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.PostalAddress)
																		@Html.CustomTextBoxAreaFor(o => o.PostalAddress)
																		@Html.CustomValidationMessageFor(o => o.PostalAddress)
																	</div>
																</div>

																<div class="col-md-12">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.PhysicalAddress)
																		@Html.CustomTextBoxAreaFor(o => o.PhysicalAddress)
																		@Html.CustomValidationMessageFor(o => o.PhysicalAddress)
																	</div>
																</div>

																<div class="col-md-6">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.Email)
																		@Html.CustomTextBoxFor(o => o.Email)
																		@Html.CustomValidationMessageFor(o => o.Email)
																	</div>
																</div>

																<div class="col-md-6">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.IsActive)
																		@Html.CustomCheckBoxFor(o => o.IsActive)
																	</div>
																</div>

																@Html.HiddenFor(o => o.CreatedByID)
																<div class="col-md-6">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.CreatedByID)
																		@Html.CustomDropDownListFor(st => st.CreatedByID)
																		@Html.CustomValidationMessageFor(o => o.CreatedByID)
																	</div>
																</div>

																@Html.HiddenFor(o => o.CreateDateTime)
																<div class="col-md-6">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.CreateDateTime)
																		@Html.CustomTextBoxFor(o => o.CreateDateTime)
																		@Html.CustomValidationMessageFor(o => o.CreateDateTime)
																	</div>
																</div>

																<div class="col-md-6">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.ChangedByID)
																		@Html.CustomDropDownListFor(st => st.ChangedByID)
																		@Html.CustomValidationMessageFor(o => o.ChangedByID)
																	</div>
																</div>

																@Html.HiddenFor(o => o.ChangeDateTime)
																<div class="col-md-6">
																	<div class="form-group">
																		@Html.CustomLabelFor(o => o.ChangeDateTime)
																		@Html.CustomTextBoxFor(o => o.ChangeDateTime)
																		@Html.CustomValidationMessageFor(o => o.ChangeDateTime)
																	</div>
																</div>

																@Html.HiddenFor(o => o.OrgID)

																@Html.HiddenFor(o => o.StcStatusID)

																@Html.HiddenFor(o => o.VersionNo)

																@Html.HiddenFor(o => o.PersonID)

															</div>
														</div>
													</div>
												</div>
										</div>

						<div class="modal-footer">
						<button type = "submit" class="btn btn-default">@Localizer.Current.GetString("Save")</button>
						</div>
						}
						catch (Exception ex)
						{
						<script type = "text/javascript" >
							ShowNotification(false, '@ex.Message.Replace("'","\'").Replace("\r\n"," <br/> ")');
						</script>
						}
					}
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
		$('#modal1').attr('class', 'modal fade').attr('aria-labelledby', 'myModalLabel');
		$('#modal1').modal('show');
			document.getElementById("btnclose").onclick = function () { $('#tblGridPerson').DataTable().ajax.reload(); };
            $('input[type="datetime"]').datepicker({
                autoclose: true,
                dateFormat: 'yy/mm/dd'
            });
		});
	</script>
