@model CyroTechPortal.CustomerSearchModel
@{
    ViewBag.Title = "Custom Search";
}
<h2>jQuery dataTables custom filtering example</h2>
<div id="SearchContainer" style="border: 3px dashed red; padding: 25px;">
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Name)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.BeginAge)
            </td>
            <td>
                @Html.TextBoxFor(m => m.BeginAge)<span style="margin: 0px 10px;">-</span>@Html.TextBoxFor(m => m.EndAge)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.BeginBirthday)
            </td>
            <td>
                @Html.TextBoxFor(m => m.BeginBirthday)<span style="margin: 0px 10px;">-</span>@Html.TextBoxFor(m => m.EndBirthday)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.PhoneNumber)
            </td>
            <td>
                @Html.TextBoxFor(m => m.PhoneNumber)
            </td>
        </tr>
    </table>
    <input type="button" id="Search" value="Search" />
    <input type="button" id="ClearSearch" value="Clear Search" style="margin-left: 50px;" />
</div>
<table id="customers">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Age
            </th>
            <th>
                Birthday
            </th>
            <th>
                Phone Number
            </th>
        </tr>
    </thead>
</table>


<script type="text/javascript">
    $(document).ready(function () {
        $('#customers').dataTableWithFilter({
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": document.URL,
            "sServerMethod": "POST",
            "aoColumns": [
            { "mDataProp": "LastName" },
            { "mDataProp": "FirstName" },
            { "mDataProp": "Age" },
            { "mDataProp": "Birthday" },
            { "mDataProp": "PhoneNumber"}],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var birthday = new Date(parseInt(aData.Birthday.replace("/Date(", "").replace(")/", ""), 10));
                $('td:eq(3)', nRow).html(birthday.getMonth() + 1 + "/" + birthday.getDate() + "/" + birthday.getFullYear());
            },
            // Initialize our custom filtering buttons and the container that the inputs live in
            filterOptions: { searchButton: "Search", clearSearchButton: "ClearSearch", searchContainer: "SearchContainer" }
        });
    });
</script>