@using CyroTechPortal;
@model DALEFModel.UserRoleActivity
<script src = "@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" ></script>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type = "button" name="btnclose" id="btnclose" class="close" data-dismiss="modal">x</button>
					<h4 class="modal-title">@Html.Label(@Html.Encode(Localizer.Current.GetString("UserRoleActivity")), new { @class = "control-label" })</h4>
				</div>

                <div class="modal-body">
                    <div id="result"></div>
                    @using (Ajax.BeginForm("EditUserRoleActivity", "User", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "result"
                    }))
                    {
                        try { 
                        @* @Html.AntiForgeryToken()*@
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(o => o.UserRoleActivityID)

                        <div id="GeneralGroupbox" dir="ltr" style="text-align:left;">
                            <fieldset>
                                <legend>@Html.Encode(Localizer.Current.GetString("GroupBoxGeneral"))</legend>

                                <div style="width: 45%;height:100%; float: left; top: 5px;">
                                    <div class="form-group">
                                        @Html.Label(@Html.Encode(Localizer.Current.GetString("ActivityID")))
                                        @Html.CustomDropDownListFor(st => st.ActivityID)
                                        @Html.CustomValidationMessageFor(o => o.ActivityID)
                                    </div>

                                    <div class="form-group">
                                        @Html.Label(@Html.Encode(Localizer.Current.GetString("UserRoleID")))
                                        @Html.CustomDropDownListFor(st => st.UserRoleID)
                                        @Html.CustomValidationMessageFor(o => o.UserRoleID)
                                    </div>

                                    <div class="form-group">
                                        @Html.Label(@Html.Encode(Localizer.Current.GetString("StcPermissionID")))
                                        @Html.CustomDropDownListFor(st => st.StcPermissionID)
                                        @Html.CustomValidationMessageFor(o => o.StcPermissionID)
                                    </div>

                                    <div class="form-group">
                                        @Html.Label(@Html.Encode(Localizer.Current.GetString("IsActive")))
                                        @Html.CustomCheckBoxFor(o => o.IsActive)
                                    </div>

                                   
                                        <div class="form-group">
                                            @Html.Label(@Html.Encode(Localizer.Current.GetString("CreatedDateTime")))
                                            @Html.DisplayTextFor(o => o.CreateDateTime)
                                        </div>

                                        <div class="form-group">
                                            @Html.Label(@Html.Encode(Localizer.Current.GetString("ChangeDateTime")))
                                            @Html.DisplayTextFor(o => o.ChangeDateTime)
                                        </div>

                                   
                                </div>
                                <div id="Divider1" style="width: 30px;height:100%;float: right;  top: 5px; "></div>
                            </fieldset>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">@Localizer.Current.GetString("Save")</button>
                        </div>
                    }
                    catch (Exception ex)
                    {
                    <script type="text/javascript">
                               ShowNotification(false,'@ex.Message.Replace("'","\\'").Replace("\r\n","<br/>")');
                    </script>
                    }

                    }
                </div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
		$('#modal1').attr('class', 'modal fade').attr('aria-labelledby', 'myModalLabel');
		$('#modal1').modal('show');
		document.getElementById("btnclose").onclick = function () { $('#tblGridUserRoleActivity').DataTable().ajax.reload(); };
		});
	</script>
	</div>
